
<h1>View Your Upcoming Classes:</h1>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
    >
    </mwl-calendar-month-view>
  </div>
  <br/>
  <br/>
  <h1>Recommended Classes For You!</h1>
  <div class="row">
    <div class="column">
      <div class="content-box" [routerLink]="['../class', classes[0].classId]">
        <h1>{{ classes[0].title }}</h1>
            <p>Instructor: {{ classes[0].createdBy }}</p>
            <p>${{classes[0].price}}/session</p>
            <p>{{classes[0].description}}</p>
          </div>
        </div>
      </div>
      <br/>
  <br/>
  <div>
    <h1>“The difference between try and triumph is a little ‘umph’.”</h1>
    <h1>Reccommended Classes For You!</h1>
    <a routerLink="/broadcast">Broadcast</a>
    <a routerLink="/watcher">Watcher</a>
  <app-class-list></app-class-list>
  </div>
  
  <div>
    <h1>Your Progress: </h1>
  </div>
  <br>



  
 