
<h1>View Your Upcoming Classes:</h1>
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
   
  >
  </mwl-calendar-month-view>
</div>


  <br/>
  <br/>
  <h1>Recommended Classes For You!</h1>
  <div class="row">
    <div class="column">
      <div class="content-box" [routerLink]="['../class', classes[0].classId]">
        <h1>{{ classes[0].title }}</h1>
            <p>Instructor: {{ classes[0].createdBy }}</p>
            <p>${{classes[0].price}}/session</p>
            <p>{{classes[0].description}}</p>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="column">
          <div class="content-box" [routerLink]="['../class', classes[1].classId]">
            <h1>{{ classes[1].title }}</h1>
                <p>Instructor: {{ classes[1].createdBy }}</p>
                <p>${{classes[1].price}}/session</p>
                <p>{{classes[1].description}}</p>
              </div>
            </div>
          </div>

          <br/>
          <div class="row">
            <div class="column">
              <div class="content-box" [routerLink]="['../class', classes[2].classId]">
                <h1>{{ classes[2].title }}</h1>
                    <p>Instructor: {{ classes[2].createdBy }}</p>
                    <p>${{classes[2].price}}/session</p>
                    <p>{{classes[2].description}}</p>
                  </div>
                </div>
              </div>
  
  <br/>
  <div>
    <h1>“The difference between try and triumph is a little ‘umph’.”</h1>
  </div>



  
 