
<h1>View Your Upcoming Classes:</h1>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
    >
    </mwl-calendar-month-view>
  </div>
  <br/>
  <br/>
  <div>
    <h1>Recommended Classes For You!</h1>
    <div *ngFor="let recommendedClass of classes; let i=index" [routerLink]="['../class', recommendedClass.classId]">
      <div *ngIf="i<3">
        <h1>{{ recommendedClass[i].title }}</h1>
            <p>Instructor: {{ recommendedClass[i].createdBy }}</p>
            <p>${{recommendedClass[i].price}}/session</p>
            <p>{{recommendedClass[i].description}}</p>
      </div>  
  
    </div>
  </div>
  <br/>
  <div>
    <h1>“The difference between try and triumph is a little ‘umph’.”</h1>
  </div>



  
 