$purple:#444166;
$orange:#f6b579;
$red:#e64861;
$grey:#cacace;


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    margin-bottom: 3%;
  }

  button {
    background-color: $purple;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 20px;
    border-radius: 20px;
    
    color: white;


    text-align: center;
    cursor: pointer;
    transition: .2s ease;

    &:hover {
        background-color: $red;
    }
  }


.coach {
    border: 1px solid black;
    border-radius: 5%;
    width: 40%;
    float: left;
    margin-left: 5%;
    cursor: pointer;
}

.coach:hover {
    background-color: $orange;
}