ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    margin-bottom: 3%;
  }

  button {
    font-size: 18px;
    color: white;
    background-color: #444166;
  }

.coach {
    border: 1px solid black;
    border-radius: 5%;
    width: 40%;
    float: left;
    margin-left: 5%;
}

.coach:hover {
    background-color: #f6b579;
}