
<section>
	
	<div class="form">
        <form (submit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div class="form-group">
                <img src="../../assets/Logos/Fit_from_home-03.png" alt="">
            </div>

            <div class="form-group">
				<label for="fname">First Name</label>
				<input type="text" id="fname" name="fname" [(ngModel)]="fname"/>
            </div>
            
			<div class="form-group">
				<label for="lname">Last Name</label>
				<input type="text" id="lname" name="lname" [(ngModel)]="lname"/>
            </div>
            
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" id="email" name="email" [(ngModel)]="email"/>
            </div>
            
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" [(ngModel)]="password"/>
            </div>
            
			<div class="form-group">
				<label for="password">Confirm Password</label>
				<input type="password" id="passwordConfirm" name="passwordConfirm" [(ngModel)]="passwordConfirm"/>
            </div>
            
			<div class="form-group">
				<button class="User" type="button" (click)="setIsTrainer()">I'm a Trainer!</button>
				<button class="User" type="button">I'm a Client!</button>
				<button type="submit">Sign Up</button>
				<button routerLink='/login'>Login</button>
            </div>
            
		</form>
	</div>

	<div id="status" class="error" *ngIf="statusDisplay" [style.animation]="statusAnimation">
        {{statusText}}
    </div>
</section>

<br><br>


