p {
    font-size: 16px;
}


.classes-div {
    border: 1px solid black;
    border-radius: 5%;
    width: 40%;
    float: left;
    margin-left: 5%;
  }

  .content-box {
      height: 100%;
  }

  .classes-div:hover {
      background-color: #f6b579;
  }