<div class="category-list">
    <ul>
        <li *ngFor="let filter of filters">
            <button [class]="filter.class" (click)="filterSelected(filter.name)">
                {{filter.name}}
            </button>
        </li>
    </ul>
</div>


<div class="row">
    <div class="column" *ngFor="let class of fetchedClasses | classListFilter: searchWord" [routerLink]="['/class', class.classId]">
        <div class="content-box">
            <h1>{{ class.title }}</h1>
            <p>Instructor: {{ class.createdBy }}</p>
            <p>${{class.price}}/session</p>
            <p>{{class.description}}</p>
        </div>
    </div>
</div>