<section>
    <div class="class-form">
        <div class="header">
            <h1> {{ classData.title }} </h1>
            <h3>Instructor: {{ classData.createdBy }}</h3>
            <h5>${{ classData.price }}/session</h5>
        </div>

        <div class="description">
            <p>
                {{ classData.description }}
            </p>
        </div>

        <div class="times">
            <p>
                Start Time: {{ classData.startDate }}
            </p>
            <p>
                End Time: {{ classData.endDate }}
            </p>
        </div>

        <div class="buttons">
            <button (click)="registerClass()">
                Register!
            </button>
            <button (click)="deleteClass(classData.classId)">
                Delete Class
            </button>
        </div>

    </div>
</section>
