<h1>Trainers Profile</h1>



<div class="container">
    <h2> {{ fetchedCoach.fullName }} </h2>
</div>

<div>
    <button [routerLink]="['/addClass', coachId]">Add Class</button>
</div>

<div class="row">
    <div class="column" *ngFor="let class of fetchedClasses; let i=index" [routerLink]="['/class', class.id]">
        <div class="content-box">
            <h3>{{ class.title }}</h3>
            <p>{{ class.description }}</p>
            <p>Price: {{ class.price }} </p>
            <p>Date: {{ class.startDate }} </p>
        </div>
    </div>
</div>
