<h1>Trainers Profile</h1>

<div>
    <button [routerLink]="['/addClass', coachId]">Add Class</button>
</div>

<div class="container" *ngFor="let profileInfo of profile">
    <h2> {{ profileInfo.fullName }} </h2>
    <h3> {{ profileInfo.category }} </h3>
    <h4>Description: {{ profileInfo.description }} </h4>
</div>

<div class="container">
    <div class="classes-div" *ngFor="let class of fetchedClasses; let i=index">
        <div class="content-box">
            <h3>Title: {{ class.title }}</h3>
            <p>Description: {{ class.description }}</p>
            <p>Price: {{ class.price }} </p>
            <p>Date: {{ class.startDate }} </p>
        </div>
    </div>
</div>
