$purple: #444166;
$orange: #f6b579;
$red: #e64861;
$grey: #cacace;


p {
  font-size: 16px;
}

button {
	background-color: $purple;
	width: 15%;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 24px;
	border-radius: 20px;

	color: white;
	font-weight: bold;

	text-align: center;
	cursor: pointer;
	transition: 0.2s ease;

	&:hover {
		background-color: $red;
		box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	}

	&.selected {
		background-color: $red;
	}
}

.content {
  display: flex;
	flex-wrap: wrap;
  flex-direction: row;
}

.row {
	display: flex;
	flex-wrap: wrap;
  flex-direction: row;
	margin: 0;

	.column {
		background-color: white;
		border: 1px solid black;
		border-radius: 20px;
		float: left;
    	width: 30%;
    	display: inherit;  // Sets project heights to be equal
		transition: 0.2s ease;
		margin: 5px;

		cursor: pointer;
		
		.content-box {
			padding: 10px;
		}

		&:hover {
			background-color: $orange;
		}
	}

}