<h1>Trainers Profile</h1>

<div>
  <ul>
    <li>
      <button [routerLink]="['/addClass', profileId]">Add Class</button>
    </li>
    <li>
      <button [routerLink]="['/edit', profileId]">Edit Profile</button>
    </li>
  </ul>
</div>

<div class="container" *ngFor="let profileInfo of profile">
    <h2> {{ profileInfo.fullName }} </h2>
    <h3> {{ profileInfo.category }} </h3>
    <h4>Description: {{ profileInfo.description }} </h4>
</div>

<div class="container">
    <div class="classes-div" *ngFor="let class of trainersClass; let i=index">
        <div class="content-box">
            <h3>Title: {{ class.classes.title }}</h3>
            <p>Description: {{ class.classes.description }}</p>
            <p>Price: {{ class.classes.price }} </p>
            <p>Date: {{ class.classes.startDate }} </p>
        </div>
    </div>
</div>
