<h2>Explore</h2>
<ul>
    <li>
        <button (click)="toggleCategory()">Classes</button>
    </li>
    <li>
        <button (click)="toggleCategory()">Coaches</button>
    </li>
</ul>
<hr>


<div *ngIf="classesSelected">
    <div class="category-list">
        <ul>
            <li>
                <button>
                    All
                </button>
            </li>
            <li>
                <button>
                    Strength
                </button>
            </li>
            <li>
                <button>
                    Yoga
                </button>
            </li>
        </ul>
    </div>
    <app-class-list></app-class-list>
</div>

<div *ngIf="!classesSelected">
    <app-coach-list></app-coach-list>
</div>