<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
	<div class="container">

		<div class="mainnav">
			<a routerLink="/" class="logo">Fit From Home</a>
			<nav>
				<ul>
					<li><a href="#" routerLink="/" id="home">Dashboard</a></li>
					<li><a href="#" routerLink="/explore" id="explore">Explore Classes</a></li>
					<li><a href="#" routerLink="/profile" id="experience">Your Profile</a></li>
					<li><a id="projects">Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<div id="main" class="container">
	<router-outlet></router-outlet>
</div>